footer button {
    border: none;
    background: none;
}

footer .footer-limiter h1 {
    float: left;
}

footer .footer-limiter h1 a {
    text-decoration: none;
}

footer .footer-limiter .description h1 a span {
    color: #404247;
    font-size: 30px;
    font-weight: 900;
}

/* FOOTER*/

footer {
    border: none;
    padding: 20px 40px;
    height: 180px;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    background-color: #F7F7FB;
}

footer .footer-limiter {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
}

footer .footer-limiter .contact, footer .footer-limiter .share {
    width: 250px;
}

footer .footer-limiter .share ul li {
    display: inline-block;
    
}

footer .footer-limiter .share ul li a {
    text-decoration: none;
}

footer .footer-limiter .share ul li a img{
    max-width: 35px;
}

footer .footer-limiter .contact ul, footer .footer-limiter .share ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

footer .footer-limiter .description {
    height: auto;
    display: inline-block;
}

footer .footer-limiter .description p{
    margin-top: 0px;
    max-width: 600px;
    }
footer .footer-limiter .description h1 a span {
    margin-right: 50px;
}

footer .footer-limiter .description p {
    width: 700px;
    color: #404247;
}

/*RESPONSIVE */

@media all and (max-width: 900px) {
    footer {
        height: 250px;
    }
    footer .footer-limiter {
        display: block;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    footer .footer-limiter .contact {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    footer .footer-limiter .contact ul li {
        display: inline;
        padding-left: 10px;
    }
}

@media all and (max-width: 600px) {
    footer {
        height: 150px;
    }
    footer .footer-limiter {
        text-align: center;
    }
    footer .footer-limiter .description {
        display: none;
    }
}

@media all and (max-width: 300px) {
    footer {
        min-width: 150px;
        height: 150px;
    }
    footer .footer-limiter .share {
        display: none;
    }
}