body {
    margin: 0;
    font-family: 'Segoe UI';
    font-size: 18px;
}

header{
    text-align: center;
    margin: 0 10%;
    border-bottom: 2px solid darkblue;
}
main{
    display: block;
    margin: 0 0 5% 0;
}
main div{
    margin: 50px 15%;
}
main div dl{
    margin: 0 20px;
}
main section{
    margin: 0 15%;
}
main section p span{
    color: #404247;
    font-size: 30px;
    font-weight: 900;
}
section p{
    margin: 5px 0;
    text-indent: 30px;
}
#bd div{
    text-align: center;
}
#statistics p span{
    font-weight: bold;
    color: red;
    font-size: 22px;
}